@media all and (max-width: 767px){
  .status-align{
    text-align: right;
    margin-right: 8px;
  }

  .custome-style{
    display:inline ;
  }

  .btn-details{
    width: 98%;
    margin-bottom: 3px;
  }

}
/* ========================= */

.btn-details{
  padding-top: 6px;padding-left: 15px;padding-right: 15px;
}

.member-tabset > .nav-tabs{
    margin-right: -2px;
  }

  .status-align{
    text-align: left;
    margin-right: 14px;
  }

  .col-delete{
    text-align: left;padding-top: 10px
  }

  .col-delete{
    text-align: left;padding-top: 10px
  }

  .btn-delete{
    background-color:rgb(185, 42, 24);
    color:white;
    padding-top: 6px;
    padding-left: 15px;
    padding-right: 15px
  }