
@media all and (max-width: 767px){
    .f-char-btns .btn{
        margin-top: 5px;
    }
    .status{
        text-align: right;
    }

    .loading-search{
        margin-top: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .text-search{
        margin-bottom: 13px;
        padding-left: 10px;
    }

    .btn-mob{
        width: 100%;
    }

    .btn-showAll-mob{
        padding-top: 2px;
        padding-left: 15px;
        padding-right: 15px;
        /* width: 95%; */
        margin-bottom: 4px;
    }

    .last-btn{
        width: 90%;
        margin-bottom: 6px;
    }

    .btn-details{
        width: 80%;
        margin-bottom: 6px;
    }

    .loading-search{
        margin-top: -2px;
        margin-right: 10px;
        text-align: center;
    }

    .status-align{
        text-align: center;
        margin-left: 6px;
    }
}
/* ===================================================== */

.btns{
    text-align: center;margin-bottom: 15px;margin-top: 10px;
    font-weight: bold;
}

.text-search{
    /* width:500px; */
    margin-bottom: 13px;
}

.loading-search{
    margin-top: 3px;
    margin-right: 10px;
    text-align: center;
}

.status-align{
    text-align: left
}