.img-thumbnail {
    margin-right: 33px;
    margin-left: 45px;
    margin-bottom: 17px;
    margin-top: 10px;
    width: 80%;
    height: 210px;
    text-align: center;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.details{
    margin-bottom: 10px;
}

.card-footer{
    text-align: center;
}

.custome-position{
    /* margin-right: 30px;
    margin-left: 20px; */
    text-align: center;
    z-index: 3;
}