<div class="row" style="margin-bottom: 7px;margin-top: -8px">
  <div class="col-sm-12">
    <h4 class="page-title" style="font-size: 18px;padding-right: 5px; "> تفاصيل الخبر </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card widget-user" style="padding:9px;padding-top: 15px;">
      <div style="text-align: center">
        <h4 style="text-align: center;margin-bottom: 2px;margin-top: -3px;color:green">{{newsDetails.data?.title}}</h4>
        <img class="card-img-top img-thumbnail" [src]="newsDetails.data?.image != null ? newsImageUrl + newsDetails.data?.image : '../../../assets/users/NoImage2.jpg'" alt="">
      </div>
      <div>
        <div style="padding-right: 6px;">
            <table style="padding:10px;">
              <tbody >                  
                  <tr>
                      <!-- <td style="padding-bottom: 7px;">  
                        <strong>
                        تاريخ الاضافة 
                      </strong> </td> -->
                      <td colspan="2" style="padding-bottom: 7px">
                        {{newsDetails.data?.createdDateM | date}}  -
                        {{newsDetails.data?.createdDateH | date :'yyyy/MM/dd'}}&nbsp;
                        ( &nbsp;{{newsDetails.data?.createdDateM | amLocale:'ar' | amTimeAgo}}&nbsp;)
                      </td>
                  </tr>
                  <tr> 
                      <td style="padding-bottom: 7px;">
                      <strong>
                      تم الاضاف بواسطة 
                    </strong>
                        </td >
                        <td style="padding-bottom: 7px;">&nbsp;: &nbsp;{{newsDetails.data?.byUser}}</td>
                    </tr>
                  <tr>
                      <td style="padding-bottom: 7px;"> <strong>القسم </strong> &nbsp;</td>
                      <td style="padding-bottom: 7px;">&nbsp;: &nbsp;{{newsDetails.data?.newsType}}</td>
                  </tr>
                  <tr>
                      <td style="padding-bottom: 7px;">   <strong>السماح بالتعليقات </strong></td>
                      <td style="padding-bottom: 7px;"> &nbsp; : &nbsp;
                        <span *ngIf="newsDetails.data?.allowComment" class="badge badge-success" style="font-size: 11px;padding: 3px">نعم</span>
                        <span *ngIf="!newsDetails.data?.allowComment" class="badge badge-inverse" style="font-size: 11px;padding: 3px"> لا </span> 
                      </td>
                  </tr>
                  <tr>
                          <td style="padding-bottom: 7px;"> <strong>عدد التعليقات </strong> </td>
                          <td style="padding-bottom: 7px;"> &nbsp; : &nbsp;{{ newsDetails.data?.commentCount }} </td>
                      </tr>
                      <tr>
                        <td style="padding-bottom: 7px;"><strong>الحالة </strong></td>
                        <td style="padding-bottom: 7px;">  &nbsp;: &nbsp;
                          <span *ngIf="newsDetails.data?.isAccepted" class="badge badge-success" style="font-size: 11px;padding: 3px">تم
                            القبول
                          </span>
              
                          <span *ngIf="newsDetails.data?.isAccepted == null" class="badge badge-inverse" style="font-size: 11px;padding: 3px">قيد
                            الانتظار
                          </span>

                          <span *ngIf="newsDetails.data?.isAccepted == false" class="badge badge-danger" style="font-size: 11px;padding: 3px">مرفوضة
                            </span>
                        </td>
                    </tr>
              </tbody>
      </table>


          
        </div>
        <br>
        <div  class="card-footer">
          <button [hidden]="userRole == 'UserAccount'" class="btn btn-sm btn-radius btn-bgcolorCustom" style="padding-top: 6px;padding-left: 15px;padding-right: 15px"
            type="button" [disabled]="newsDetails.data?.isAccepted" (click)="setAcceptStatus(true, newsDetails.data.id)">
            قبول
            &nbsp;<i class="fas fa-info-circle"></i>&nbsp;
            <i class="fa fa-spinner fa-spin" style="font-size:15px;" *ngIf="loadingAcceptedStatus"></i>
          </button> &nbsp;

          <button [hidden]="userRole == 'UserAccount'" [disabled]="newsDetails.data?.isAccepted == false" class="btn btn-sm btn-radius btn-bgcolorCustom" style="padding-top: 6px;padding-left: 15px;padding-right: 15px"
            type="button" (click)="confirmNotAccept(notAcceptTemplate,newsDetails.data.userId, newsDetails.data.id)">
            رفض
            &nbsp;<i class="fas fa-info-circle"></i>&nbsp;
          </button>&nbsp;

          <button [hidden]="userRole == 'UserAccount'" class="btn btn-sm btn-radius " (click)="openConfirmDelete(deleteTemplate,newsDetails.data.id)" style="background-color:rgb(185, 42, 24);color:white;padding-top: 6px;padding-left: 15px;padding-right: 15px; width:  30%;">
            حذف
            &nbsp;<i class="fas fa-trash"></i>
          </button>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card widget-user" style="padding:9px;padding-top: 15px;">
      <div class="custome-position" *ngIf="galleryImages.length > 0">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
      <div *ngIf="galleryImages.length == 0" style="text-align: center;font-size: 16px;margin-top: 10px">
        لا توجد صور
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card widget-user" style="padding:9px;padding-top: 15px;">
      <div class="float-left" style="width:500px;margin-bottom: 13px;">        
        <div style="width: 270px;margin-bottom: 0px;text-align: right">
          <label>التفاصيل</label>
        </div>
        </div>

        <div>
          {{newsDetails.data?.desctiption}}
         </div>

      </div>
    </div>
  </div>

<!-- ============ comments ============================== -->
<div class="row">
  <div class="col-md-12">
    <div class="card widget-user" style="padding:9px;padding-top: 15px;">
      
      <!--  add comments -->
      <div style="padding-top: 10px;margin-bottom: 0px;" class="col-xl-12">
        <div class="float-right">
          <div style="width: 270px;margin-top: -8px;text-align: left">
            <button [hidden]="userRole == 'UserAccount'" type="button" class="btn btn-radius btn-sm btn-bgcolor" (click)="showAdd(newCommentTemplate,newsDetails.data.id )">إضافة
              تعليق
              &nbsp;<span class="fa fa-plus"></span>
            </button>
          </div>
        </div>
      </div>

      <div>
        <tabset class="member-tabset">
          <tab heading="تعليقات الخبر">
             <div class="row">
                <div class="col-12" *ngIf="comments.data?.length > 0">
                    <div *ngFor="let comment of comments.data | paginate: config" style="padding-bottom: -40px;padding: 20px;border-radius: 5px;margin-bottom: 15px;border-bottom:1px solid  rgb(222, 226, 222)">
                        <!-- data -->
                        <div class="row">
                          <div class="col-11" >
                                <img src="../../../assets/users/user.png" class="img-responsive rounded-circle" alt="user" style="border:1px solid gray;width:52px;height:45px">
                                <div class="wid-u-info" style="width:100%">
                                  <div>
                                    <h4 class="m-t-5 m-b-5" style="color:green">{{comment?.byUser}}</h4>
                                    <p class="text-muted m-b-5 font-13">
                                      {{comment?.createdDateM | date :'yyyy/MM/dd'}}  &nbsp;-&nbsp;
                                      {{comment?.createdDateH | date :'yyyy/MM/dd'}}
                                      &nbsp;( &nbsp;{{comment?.createdDateM | amLocale:'ar' | amTimeAgo}}&nbsp;)
                                    </p>
                                  </div>
                                </div>
                                <div style="margin-right: 90px;">
                                  <p class="m-b-5 font-13" style="color:black">
                                      {{comment?.comment}}
                                  </p>
                              </div>
                          </div>

                          <div [hidden]="userRole == 'UserAccount'" class="col-1" style="text-align: left;padding-top: 10px">
                            <button class="btn btn-sm btn-radius" style="background-color:rgb(185, 42, 24);color:white;padding-top: 6px;padding-left: 15px;padding-right: 15px"
                            type="submit" (click)="openDelete(deleteCommentTemplate, comment.id)">
                            حذف
                            &nbsp;<i class="fas fa-trash"></i>
                          </button>
                          </div>
                        </div>                      
                      </div>
                </div>
             </div>
        
                <div class="row" *ngIf="comments.data?.length > 0">
                    <div class="col-7" style="text-align: left;margin-top: 23px;height: 40px">
                        <pagination-controls id="commentsAcepted" class="my-pagination" (pageChange)="getNextComment(newsDetails.data.id, $event)"
                        directionLinks="true" autoHide="false" responsive="true" previousLabel="السابق" nextLabel="التالى"
                        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                      </pagination-controls>
                    </div>
                    <div class="col-5" style="text-align: right;margin-top: 23px;height: 40px;padding-top: 3px" *ngIf="comments.data?.length > 0">
                        <i class="fa fa-spinner fa-spin" style="font-size:20px;color:#0c6418;" *ngIf="loadingCommenyData"></i>
                    </div>
                </div>                      
            
                  <div *ngIf="comments.data?.length == 0" style="border-radius: 5px;text-align: center;font-size: 16px;padding: 20px;margin-bottom: 10px">
                    لا توجد تعليقات
                  </div>
          </tab>

          <tab heading="تعليقات قيد الانتظار">
                  <div class="row" style="padding-left:25px;padding-right:25px;padding-top: 17px" *ngIf="commentsWatting.data?.length > 0">
                      <table class="table table-hover table-bordered m-0">
                          <thead>
                              <tr style="text-align: center">
                                  <th  style="width:55px">الصورة </th>
                                  <th style="width: 230px;">الاسم</th>
                                  <th style="width: 200px;">تاريخ التعليق</th>
                                  <!-- <th style="width: 400px;"> التعليق</th> -->
                                  <th style="width: 210px;"></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let userCom of commentsWatting.data | paginate: config2">
                                  <td class="align-middle" style="text-align: center">
                                      <div class="inbox-item-img" >
                                          <img [src]= "userCom?.userImage == null || userCom?.userImage == '' ? '../../../assets/users/user.png' : userImageUrl + userCom?.userImage" class="rounded-circle" 
                                          style="width:55px;height:45px; border: 1px solid rgb(180, 180, 192);margin-right:8px"
                                              alt="user">
                                      </div>
                                  </td>
                                  <td class="align-middle" style="text-align: right;">{{userCom?.byUser}}</td>
                                  <td class="align-middle" style="text-align: center">
                                      <p>
                                          {{userCom?.createdDateM | date}} -
                                          {{userCom?.createdDateH | date :'yyyy/MM/dd'}}
                                          &nbsp;( &nbsp;{{userCom?.createdDateM | amLocale:'ar' | amTimeAgo}}&nbsp;)
                                      </p>
                                    </td>
                                  <!-- <td>{{ userCom?.comment | slice:0:50 }} ....</td> -->
                                  
                                  <td class="align-middle" style="text-align: center">
                                      <button (click)="getUserComment(commentDetailsTemplate,userCom?.id)" class="btn btn-sm btn-radius btn-bgcolor"
                                          style="padding-top: 6px;padding-left: 15px;padding-right: 15px"
                                          type="button">
                                          تفاصيل التعليق
                                          &nbsp;
                                          <i class="fas fa-info-circle"></i>
                                      </button> &nbsp;

                                      <button [hidden]="userRole == 'UserAccount'" (click)="acceptUserComment(newsDetails.data.id,userCom.id )" class="btn btn-sm btn-radius btn-bgcolor"
                                      style="padding-top: 6px;padding-left: 15px;padding-right: 15px"
                                      type="button">
                                      قبول
                                      &nbsp;<i class="fa fa-check" aria-hidden="true"></i> &nbsp;
                                          <i class="fa fa-spinner fa-spin" style="font-size:15px;color: white" *ngIf="loadingAcceptUserCommentData == userCom.id"></i>
                                  </button>&nbsp;

                                  <button [hidden]="userRole == 'UserAccount'"  class="btn btn-sm btn-radius btn-bgcolor"
                                  style="padding-top: 6px;padding-left: 15px;padding-right: 15px"
                                  type="button"
                                  (click)="refusalNewsUserComment(newsDetails.data.id, userCom.id)">
                                  رفض
                                  &nbsp;<span class="fa fa-times"></span>&nbsp;
                                      <i class="fa fa-spinner fa-spin" style="font-size:15px;color: white" *ngIf="loadingRefusalCommentStatus == userCom.id"></i>
                              </button>
                                    </td>
                              </tr>
      
                          </tbody>
                      </table>
                  </div>

                  <div class="row" *ngIf="commentsWatting.data?.length > 0">
                      <div class="col-7"  style="text-align: left;margin-top: 23px;height: 40px">                 
                                    <pagination-controls id="commentsWattingId" class="my-pagination" 
                                        (pageChange)="getNextCommentsNotAccept(newsDetails.data.id, $event)" maxSize="10"
                                        directionLinks="true" autoHide="false" responsive="true" previousLabel="السابق" nextLabel="التالى"
                                        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                        screenReaderCurrentLabel="You're on page">
                                    </pagination-controls>                                 
                      </div>                      
                      <div cclass="col-5" style="text-align: right;margin-top: 23px;height: 40px;padding-top: 3px"> 
                          <i class="fa fa-spinner fa-spin" style="font-size:20px;color:#0c6418;" *ngIf="loadingDataComNotAccepted"></i>
                      </div>
                  </div>
                
                  <div *ngIf="commentsWatting.data?.length == 0" style="border-radius: 5px;text-align: center;font-size: 16px;padding: 20px;margin-bottom: 10px">
                    لا توجد تعليقات قيد الانتظار
                  </div>            
          </tab>

          <tab heading="تعليقات مرفوضة">
            <div class="row" style="padding-left:25px;padding-right:25px;padding-top: 17px" *ngIf="commentsNotAccepted.data?.length > 0">
                <table class="table table-hover table-bordered m-0">
                    <thead>
                        <tr style="text-align: center">
                            <th  style="width:65px">الصورة </th>
                            <th style="width: 230px;">الاسم</th>
                            <th style="width: 200px;">تاريخ التعليق</th>
                            <th style="width: 400px;"> التعليق</th>
                            <th style="width: 180px;" [hidden]="userRole == 'UserAccount'" ></th>
                        </tr>
                    </thead>
                    <tbody>
                      <!-- <tr></tr> -->
                        <tr *ngFor="let refusComm of commentsNotAccepted.data | paginate: config3">
                            <td class="align-middle" style="text-align: center">
                                <div class="inbox-item-img" >
                                    <img [src]= "refusComm?.userImage == null || refusComm?.userImage == '' ? '../../../assets/users/user.png' : userImageUrl + refusComm?.userImage" class="rounded-circle" 
                                    style="width:65px;height:45px; border: 1px solid rgb(180, 180, 192)"
                                        alt="user">
                                </div>
                            </td>
                            <td class="align-middle" style="text-align: right;">{{refusComm?.byUser}}</td>
                            <td class="align-middle" style="text-align: center">
                                <p>
                                    {{refusComm?.createdDateM | date}} -
                                    {{refusComm?.createdDateH | date :'yyyy/MM/dd'}}
                                    <br>
                                    &nbsp;( &nbsp;{{refusComm?.createdDateM | amLocale:'ar' | amTimeAgo}}&nbsp;)
                                </p>
                              </td>
                            <td>{{ refusComm?.comment }}</td>
                            
                            <td  [hidden]="userRole == 'UserAccount'" class="align-middle" style="text-align: center">
                            <button class="btn btn-sm btn-radius btn-bgcolor"
                                (click)="confirmDeleteRefuseComment(deleteRefuseCommentTemplate, refusComm.id )"  
                                style="background-color:rgb(185, 42, 24);color:white;padding-top: 6px;padding-left: 15px;padding-right: 15px"
                                  type="button">
                                حذف
                                &nbsp;<i class="fas fa-trash"></i>
                                <i class="fa fa-spinner fa-spin" style="font-size:15px;color: white" *ngIf="loadingRefusalCommentStatus == refusComm.id"></i>
                        </button>
                              </td>
                        </tr>
                    </tbody>
                </table>
           </div>
              <!-- pagging -->
               <div class="row" *ngIf="commentsNotAccepted.data?.length > 0">
                <div class="col-7" *ngIf="commentsNotAccepted.data?.length > 0" style="text-align: left;margin-top: 23px;height: 40px">                    
                       <pagination-controls 
                            id="commentsNotAcceptedId" class="my-pagination" 
                            (pageChange)="getNextRefusBlogComments(this.newsDetailsId, $event)" maxSize="10"
                            directionLinks="true" autoHide="false" responsive="true" previousLabel="السابق" nextLabel="التالى"
                            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
                        </pagination-controls>                        
                </div>
                <div class="col-5" style="text-align: right;margin-top: 23px;height: 40px;padding-top: 3px" *ngIf="commentsNotAccepted.data?.length > 0">
                    <i class="fa fa-spinner fa-spin" style="font-size:20px;color:#0c6418;" *ngIf="loadingRefusComments"></i>
                </div>
              </div>
          
            <!-- no data -->
           <div *ngIf="commentsNotAccepted.data?.length == 0" style="border-radius: 5px;text-align: center;font-size: 16px;padding: 20px;margin-bottom: 10px">
            لا توجد تعليقات مرفوضة
          </div>
        </tab>
          </tabset>
        

          
      </div>

    

    </div>
  </div>
</div>
<!-- ========================================== -->

<!-- Confirm delete -->
<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>هل تريد حذف الخبر؟</p>
    <button type="button" class="btn btn-radius btn-sm btn-bgcolor" (click)="delete()">موافق
      &nbsp;<i class="fa fa-spinner fa-spin" style="font-size:14px;" *ngIf="loadingDel"></i></button> &nbsp;
    <button type="button" class="btn btn-secondary waves-effect btn-radius btn-sm" (click)="closeModal()"> &nbsp;
      إالغاء &nbsp;
    </button>
  </div>
</ng-template>

<!-- Confirm delete -->
<ng-template #deleteCommentTemplate>
  <div class="modal-body text-center">
    <p> هل تريد حذف التعليق؟</p>
    <button type="button" class="btn btn-radius btn-sm btn-bgcolor" style="background-color:rgb(32, 133, 32);color:white"
      (click)="deleteComment(newsDetails.data.id)">موافق
      &nbsp;<i class="fa fa-spinner fa-spin" style="font-size:14px;" *ngIf="loadingCommentDel"></i></button> &nbsp;
    <button type="button" class="btn btn-secondary waves-effect btn-radius btn-sm" (click)="closeModal()">إالغاء</button>
  </div>
</ng-template>

<!-- Modal new -->
<ng-template #newCommentTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">إضافة تعليق</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="margin-top:7px;margin-bottom: 13px">
    <label>التعليق</label>
    <textarea class="form-control" #commnent rows="5" placeholder="اضف تعليق"></textarea>
    <div *ngIf="commentRequired" style="margin-top:6px;margin-bottom:-15px;color:red;font-weight: bold" class="alert">
      التعليق مطلوب
</div>
  </div>

  <div style="text-align: center"> <hr>          
    <button class="btn btn-radius btn-sm btn-bgcolor" type="button" (click)="addComment(commnent.value)">
      &nbsp; حفظ
      &nbsp;<i class="fas fa-save"></i>
      &nbsp; <i class="fa fa-spinner fa-spin" style="font-size:15px;" *ngIf="loadingCommentData"></i>
    </button>&nbsp;
    <button type="button" class="btn btn-secondary waves-effect btn-radius btn-sm" (click)="closeModal()" data-dismiss="modal">اغلاق
      &nbsp;<span class="fa fa-times"></span>
    </button>
</div>

  <!-- <div class="modal-footer">
    <button class="btn btn-radius btn-sm btn-bgcolor" type="button" (click)="addComment(commnent.value)">
      &nbsp; حفظ
      &nbsp;<i class="fas fa-save"></i>
      &nbsp; <i class="fa fa-spinner fa-spin" style="font-size:15px;" *ngIf="loadingCommentData"></i>
    </button>
    <button type="button" class="btn btn-secondary waves-effect btn-radius btn-sm" (click)="closeModal()" data-dismiss="modal">اغلاق
      &nbsp;<span class="fa fa-times"></span>
    </button>
  </div> -->
</ng-template>

<!-- Modal details -->
<ng-template #commentDetailsTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">تفاصيل التعليق</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
      
         <div class="row">
                <div class="col-xl-2" style="text-align: left;">
                    <img [src]= "userComment?.userImage == null || userComment?.userImage == '' ? '../../../assets/users/user.png' : userImageUrl + userComment?.userImage"
                         class=" rounded-circle" alt="user" style="border:1px solid gray;width: 70px;height:65px;">
                </div>
                <div class="col-xl-8">
                    <div class="wid-u-info" style="width:100%">
                        <div>
                            <h5 class="m-t-0 m-b-5" style="color:green">{{userComment?.byUser}}</h5>                            
                            <p class="text-muted m-b-5 font-13">
                                    <span style="font-weight: bold;font-size: 12px">  تاريخ الاضافة : </span>
                                  
                                    {{userComment?.createdDateM | date}}  &nbsp;-&nbsp;
                                    {{userComment?.createdDateH | date :'yyyy/MM/dd'}} 
                                    &nbsp;( &nbsp;{{userComment?.createdDateM | amLocale:'ar' | amTimeAgo}}&nbsp;)
                                </p>
                        </div>
                    </div>
                </div>
                                       
            </div>

            <!-- description -->
            <div class="row" style="margin-top:10px;">        
                <div class="col-xl-12">
                  <p style="margin-right:123px">
                    {{userComment?.comment}}
                  </p>
                </div>
            </div>
        
        
         <!-- <div class="modal-footer">
                <div class="row">                      
                   <button type="button" class="btn btn-secondary waves-effect btn-radius btn-sm" (click)="closeModal()" data-dismiss="modal">اغلاق
                       &nbsp;<span class="fa fa-times"></span>
                   </button>
                    </div>                                
        </div> -->
        

    </div>

    <div style="text-align: center"> <hr>          
      <button type="button" class="btn btn-secondary waves-effect btn-radius btn-sm" (click)="closeModal()" data-dismiss="modal">اغلاق
        &nbsp;<span class="fa fa-times"></span>
    </button>
  </div>

</ng-template>

<!-- Confirm delete -->
<ng-template #deleteRefuseCommentTemplate>
  <div class="modal-body text-center">
      <p>  هل تريد حذف التعليق؟</p>
      <button type="button" class="btn btn-radius btn-sm btn-bgcolor" style="background-color:rgb(32, 133, 32);color:white" 
          (click)="deleteRefuseComment()">موافق
          &nbsp;<i class="fa fa-spinner fa-spin" style="font-size:14px;" *ngIf="loadingCommentDel"></i></button> &nbsp;
      <button type="button" class="btn btn-secondary waves-effect btn-radius btn-sm" (click)="closeModal()">إالغاء</button>
  </div>
</ng-template>



<!-- Modal confirm Desline -->
<ng-template #notAcceptTemplate>
  <div class="modal-header">
      <h4 class="modal-title pull-left">سبب رفض الخبر</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body" style="margin-top:2px;margin-bottom: 13px" > 
     سيتم ارسال بريد اليكترونى بسبب الرفض الى (<strong>{{newsDetails.data?.byUser}}</strong> )
     <br><br>
      <textarea class="form-control" #reason rows="3" placeholder="سبب الرفض"></textarea>
      <div *ngIf="reasonRequired" style="margin-top:6px;margin-bottom:-15px;color:red;font-weight: bold" class="alert">
              سبب الرفض مطلوب
      </div>
  </div>        

  <!-- <div class="modal-footer" style="text-align: center"> -->
    <div style="text-align: center"> <hr>
      <button class="btn btn-radius btn-sm btn-bgcolor" type="button" (click)="setNotAcceptStatus(false,reason.value)">
              &nbsp;   ارسال
          &nbsp;<i class="fas fa-save"></i>
          &nbsp;  <i class="fa fa-spinner fa-spin" style="font-size:15px;" *ngIf="loadingNotAcceptedStatus"></i>
      </button> &nbsp;
      <button type="button" class="btn btn-secondary waves-effect btn-radius btn-sm" (click)="closeModal()"
          data-dismiss="modal">اغلاق
          &nbsp;<span class="fa fa-times"></span>
      </button>
  </div>
</ng-template>
